*{
    margin: 0;
    padding: 0;
}

.container{
    width: 80vw;
    /* border: 1px solid darkcyan; */
    margin: 10px auto;
    /* border-radius: 15px; */
    /* height: fit-content; */
    display: grid;
    /* grid-template-columns: 250px 250px 250px; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(3,1fr); */

    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-auto-rows: 200px;
    gap: 40px;
}


div div:nth-of-type(1){
    background-color: palegoldenrod;
}
div:nth-of-type(2){
    background-color: palegreen;
}
div:nth-of-type(3){
    background-color: paleturquoise;
}
div:nth-of-type(4){
    background-color: palevioletred;
}
div:nth-of-type(5){
    background-color: lightseagreen;
}
div:nth-of-type(6){
    background-color: lightsalmon;
}

div img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.container div:hover img{
    opacity: 60%;
    cursor: pointer;
    filter: grayscale(100%);
    /* transform: scale(1.02); */
}


nav ul{
    list-style: none;
}
nav ul a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Syne Mono', monospace;
    font-size: 2.2rem;
}

nav{
    display: flex;
    height: 60px;
    align-items: center;
    /* text-align: center; */
    justify-content: center;
    background-color: #132E32;
}
nav ul i{
    padding: 5px;
}

.container div {
    position:relative;
}

div i{
    position: absolute;
    left: 47%;
    top: 47%;
    transition-duration: 0.5s;
    transform: scale(0);
    font-size: 1.5rem;
}

.container div:hover i{
    transform: scale(1.8);
}